*{
    margin: 0;
}

/* Top Bar */
#top{
    min-height: 11vh;
    background-color: rgb(18, 44, 75);
    border-bottom: 1px solid rgb(0, 0, 0);
    position: sticky;
}
/* LOGO */
#logo{
    display: inline-block;
}

#logo a{
    font-size: 30px;
    font-weight: bold;
    color: rgb(255, 255, 255);
    font-family: 'Courier New', Courier, monospace;
    text-decoration: none;
    padding: 25px;
    display: inline-block;
}
/* Menu Bar */
nav{
    display: inline-block;
}

#menu-bar{
    list-style-type: none;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0 20px 0 100px;
    padding: 0;
}

.menu-bar-links{
    display: inline-block;
}
.menu-bar-links a{
    color: rgb(255, 255, 255);
    text-decoration: none;
    display: inline-block;
    padding: 35px;
}

/* Search Box */

#search-box{
    height: 30px;
    width: 280px;
    border-radius: 30px;
    padding: 6px 20px;
    font-size: 0.9rem;
}

/* Main Section */

section{
    height: 500px;
    background-image: url("big.jpg");
    background-position: 0 -200px;
}

#introduce{
    background-color: rgba(0, 0, 0, 0.85);
    height: 500px;
}

#details{
    display: inline-block;
    width: 49.8%;
    height: 100%;
    box-sizing: border-box;
    padding: 100px 30px 120px 120px;
    color: white;
}

#details h1{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 3em;
    color: rgb(224, 63, 63);
    padding-bottom: 10px;
}

#details h2{
    font-family: 'Arial Narrow';
    line-height: 30px;
    font-size: 1.4em;
    padding-bottom: 8px;
}

#details p{
    padding: 10px 0; 
    line-height: 20px;
}

#hire-btn{
    text-decoration: none;
    display: inline-block;
    padding: 12px 18px;
    color: black;
    font-family: 'Calibri';
    font-size: 18px;
    font-weight: bold;
    background-color: rgb(58, 216, 221);
    border-radius: 30px;
}
#picture{
    margin: 0px;
    display: inline-block;
    width: 49.9%;
    height: 100%;
    box-sizing: border-box;
}

#profile-pic{
    border-style: solid;
    border-width: 5px;
    border-color: rgb(224, 63, 63);
    border-radius: 50%;
    left: 250px;
    
    position: relative;
}